@import './main.css';

#input-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 8px 8px 0;
}

#input-container #input {
  font-weight: 500;
  padding-bottom: 3px;
  letter-spacing: 0.01rem;
  font-size: 24px;
  background: var(--neutral);
  color: var(--light-black);
  padding-left: 10px;
  border: 0;
  border-radius: 4px;
  height: 36px;
}

#input-container #input::placeholder {
  font-weight: 400;
  color: var(--dark-neutral);
}

#input-container #input:focus {
  background-color: var(--light-neutral);
}

#submit-add-location {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background: var(--neutral);
  border: 0;
  border-radius: 4px;
  color: var(--success);
  font-weight: 900;
}

#submit-add-location:disabled {
  cursor: default;
  color: var(--disable);
}

#submit-add-location:hover {
  background: var(--light-neutral);
}

#submit-add-location:hover:disabled {
  background: var(--neutral);
}

#submit-add-location i {
  font-size: 32px;
  pointer-events: none;
}

#cancel-add-location {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background: var(--neutral);
  border: 0;
  border-radius: 4px;
}

#cancel-add-location:hover {
  background: var(--light-neutral);
}

#cancel-add-location i {
  font-size: 32px;
  color: var(--danger);
  pointer-events: none;
}

#options-container {
  padding: 10px 10px 10px 10px;
  background-color: var(--dark-main);
}

.options {
  list-style: none;
  height: 612px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  font-weight: 300;
  color: var(--neutral);
  margin: 0;
  padding: 0;
}

.options li {
  margin-right: 8px;
  padding-left: 8px;
  cursor: pointer;
  line-height: 40px;
  font-size: 20px;
}

.options li:hover {
  cursor: pointer;
  color: var(--light-neutral);
  background: var(--main);
  line-height: 40px;
  font-size: 20px;
  border-radius: 4px;
}
