@import './main.css';

#first-container {
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--dark-main);
  padding: 10px 15px 15px;
}

#location-time-format {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#location {
  display: flex;
}

#time-format {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 30px;
}

#time-format-text {
  font-family: 'Bai Jamjuree', sans-serif;
  font-size: 12px;
  font-weight: 500;
}

.timeFormat {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 21px;
  perspective: 170px;
}

.timeFormatInner {
  width: 100%;
  height: 100%;
  transition: all ease-in-out 0.6s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
}

.timeFormatInner.is-flipped {
  transform: rotateY(180deg);
}

.timeFormatFace {
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 15px;
  line-height: 19px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
  text-align: center;
  justify-content: center;
  border: 1px solid var(--secondary);
  border-radius: 4px;
}

.timeFormatFace-front {
  pointer-events: none;
}

.timeFormatFace-back {
  transform: rotateY(180deg);
  pointer-events: none;
}

.time {
  font-family: 'Bai Jamjuree', sans-serif;
  font-weight: 600;
  display: flex;
  align-content: center;
  justify-content: center;
  font-size: 70px;
  word-spacing: -5px;
  margin: 5px 0;
}

.time .local-clock-format-twelve {
  font-family: 'Bai Jamjuree', sans-serif;
  font-size: 40px;
  align-self: flex-end;
  margin-bottom: 7px;
  margin-left: 5px;
  text-align: left;
}

#localDate {
  font-size: 26px;
  margin-top: -6px;
}

#myLocation {
  color: var(--light-secondary);
}

#second-container {
  display: flex;
  flex-direction: column;
  background-color: var(--dark-main);
  padding: 10px 10px 15px 15px;
}

#second-container ul {
  height: 355px;
  margin: 0 0 10px 0;
  padding: 0;
  flex-direction: column;
  overflow-y: auto;
}

#second-container li {
  font-size: 45px;
  list-style: none;
}

hr.line1 {
  border: none;
  border-top: 2px solid var(--main);
  margin-right: 10px;
  margin-top: 6px;
}

#time-date-delBtn {
  display: flex;
  justify-content: space-between;
}

#time-date {
  margin-top: -4px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.time-world {
  margin-bottom: -2px;
  font-size: 40px;
  word-spacing: -5px;
}

.worldDate {
  font-size: 18px;
}

.time .world-clock-format-twelve {
  font-family: 'Bai Jamjuree', sans-serif;
  font-size: 22px;
  align-self: flex-end;
  margin-bottom: 4px;
  margin-left: 5px;
  text-align: left;
}

#delBtn {
  font-size: 18px;
  cursor: pointer;
  margin-top: 7px;
  margin-right: 10px;
}

#delBtn:hover {
  color: var(--danger);
}

#selected-location {
  margin-top: 5px;
  font-size: 20px;
  color: var(--light-secondary);
}

#add-location {
  font-size: 20px;
  letter-spacing: 0.05rem;
  cursor: pointer;
  background-color: var(--dark-main);
  color: var(--secondary);
  border: solid 1px var(--secondary);
  border-radius: 4px;
}

#add-location:hover {
  letter-spacing: 0.029rem;
  font-weight: 500;
}

#listContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
