@import './main.css';

#loader-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 350px;
  height: 100%;
  background-color: var(--dark-main);
}

.loader {
  margin: auto;
  position: relative;
  width: 180px;
  height: 180px;
  text-align: center;
}

.loader-text {
  font-size: 26px;
  font-weight: 500;
  line-height: 180px;
  position: absolute;
  width: 100%;
  z-index: 10;
  color: var(--secondary);
}

.loader-spin {
  border: 16px solid var(--main);
  border-radius: 50%;
  border-top: 16px solid var(--secondary);
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  position: absolute;
  width: 82%;
  height: 82%;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
