* {
  font-family: 'Oswald', sans-serif;
  font-size: 22px;
  letter-spacing: 0.03rem;
  margin: 0;
  padding: 0;
}

:root {
  --main: rgb(40, 50, 60);
  --dark-main: rgb(10, 25, 35);
  --dark-main-overlay: rgb(15, 25, 50, 0.8);
  --secondary: rgb(135, 210, 220);
  --light-secondary: rgb(220, 230, 245);
  --neutral: rgb(200, 200, 210);
  --light-neutral: rgb(230, 230, 240);
  --dark-neutral: rgb(120, 125, 140);
  --disable: rgb(165, 165, 175);
  --danger: rgb(230, 75, 75);
  --success: rgb(15, 155, 40);
  --light-black: rgb(5, 15, 25);
}

html,
body {
  color: var(--secondary);
  background-color: var(--dark-neutral);
  -webkit-user-select: none;
}

#mainApp {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  width: 350px;
  height: 730px;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  background: var(--main);
}

#internet-connection {
  width: 100%;
  line-height: 690px;
  margin: auto;
  text-align: center;
  background: var(--dark-main);
  font-size: 28px;
  margin: auto;
}

*:focus {
  outline: 0 !important;
  border: transparent !important;
}
