@import './main.css';

#second-container #list::-webkit-scrollbar {
  width: 7px;
}

#second-container #list::-webkit-scrollbar-track {
  background: var(--main);
  border-radius: 5px;
}

#second-container #list::-webkit-scrollbar-thumb {
  background: var(--dark-neutral);
  border-radius: 5px;
}

.options::-webkit-scrollbar {
  width: 7px;
}

.options::-webkit-scrollbar-track {
  background: var(--main);
  border-radius: 5px;
}

.options::-webkit-scrollbar-thumb {
  background: var(--dark-neutral);
  border-radius: 5px;
}
