@import './main.css';

.swal-modal {
  background: var(--light-neutral);
  width: 300px;
  font-family: 'Bai+Jamjuree', sans-serif;
  margin: 0;
  border-radius: 4px;
}

.swal-title {
  font-size: 20px;
  font-weight: 500;
  padding: 0 20px;
  color: var(--light-black);
  margin: 30px 0 0 !important;
}

.swal-text {
  font-family: 'Bai+Jamjuree', sans-serif;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  margin: 30px 0 0 !important;
  color: var(--light-black);
}

.swal-icon {
  margin: 20px auto !important;
  border: solid 4px var(--danger) !important;
  color: var(--danger) !important;
  height: 55px;
  width: 55px;
}

/* .swal-icon .swal-icon--warning {
  margin: 0;
} */

.swal-icon--warning__body {
  background: var(--danger) !important;
  height: 25px;
}

.swal-icon--warning__dot {
  background: var(--danger) !important;
}

.swal-overlay {
  background-color: var(--dark-main-overlay);
}

.swal-footer {
  display: flex;
  justify-content: space-around;
}

.swal-button {
  font-size: 18px;
  letter-spacing: 0.04rem;
  font-weight: 500;
  width: 120px;
  border: 0 solid;
  outline: 0;
  box-shadow: none !important;
  border-radius: 4px;
}

.swal-button--confirm {
  background: var(--neutral);
  color: var(--light-black);
}

.swal-button--confirm:hover {
  background: var(--neutral) !important;
  font-weight: 700;
  letter-spacing: 0.025rem;
}

.swal-button--danger {
  background: var(--danger) !important;
  color: white;
}

.swal-button--danger:hover {
  background: var(--danger) !important;
  font-weight: 700;
  letter-spacing: 0.025rem;
}

.swal-button--cancel {
  background: var(--neutral);
  color: var(--light-black);
}

.swal-button--cancel:hover {
  background: var(--neutral) !important;
  font-weight: 700;
  letter-spacing: 0.025rem;
}
