@import './main.css';

#topBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 40px;
  background-color: var(--light-black);
}

#titleBar {
  width: 270px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-app-region: drag;
}

#titleBar #logo {
  margin: 0 10px;
}

#titleShown {
  font-family: sans-serif;
  font-size: 17px;
  width: 100%;
  color: var(--light-secondary);
}

#titleButtons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 40px;
  position: absolute;
  left: 270px;
}

.window-button {
  width: 40px;
  height: 40px;
  -webkit-mask-size: cover;
  mask-size: cover;
}

#minimizeButton {
  width: 40px;
  height: 40px;
  background-color: var(--light-secondary);
  -webkit-mask-image: url('../icons/window-min-svgrepo-com.svg');
  mask-image: url('../icons/window-min-svgrepo-com.svg');
  -webkit-mask-size: 30px, auto;
  mask-size: 30px, auto;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
}

#closeButton {
  width: 40px;
  height: 40px;
  background-color: var(--light-secondary);
  -webkit-mask-image: url('../icons/window-close-svgrepo-com.svg');
  mask-image: url('../icons/window-close-svgrepo-com.svg');
  -webkit-mask-size: 30px, auto;
  mask-size: 30px, auto;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
}

#titleButtonsOverlay {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 40px;
  z-index: 1;
}

.window-button-overlay {
  width: 40px;
  height: 40px;
}

#minimizeButtonOverlay:hover,
#closeButtonOverlay:hover {
  background-color: var(--main);
  background-color: var(--dark-neutral);
  filter: opacity(0.2);
  stroke-width: 6;
}
